 :root {
 	--lightGreen: #E2F8F7;
 	--logoGreen: #48c1bc;
 	--offWhite: #fdfdfd;
 	--lightGrey: #949494;
 	--darkGrey: #404040;
 }
 html {
 	box-sizing: border-box;
 }

 body {
 	background: url("../img/city.jpg") no-repeat center center fixed;
 	background-size: cover;
 	font-family: "Microsoft YaHei", "helvetica", sans-serif;
 	color: var(--offWhite);
 }

  /**********************************
  NAVIGATION
  ***********************************/
  a, a:hover, a:link {
  	text-decoration: none;
  	color: var(--logoGreen);
  }

  a:hover {
  	color: var(--lightGreen);
  }

  #logo {
  	margin: 1% 0 0 4%;
  }

  nav ul {
  	float: right;
  	margin: 1.5% 4% 0 0;
  	list-style: none;
  	padding:  0;
  }

  nav ul li{
  	display: inline-block;
  	font-size: 22px;
  	width: 90px;
  }

  nav li a {
  	padding-left: 1%;
  	font-weight: bold;
  }

  .selected {
  	border-bottom: 3px solid var(--logoGreen);
  }


  /**********************************
  BODY
  ***********************************/
  section p {
    max-width: 60vw;
    margin: 15% auto 0;
    font-size: 18px;
    line-height: 2;
    text-align: center;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: inline-flex;
    justify-content: center;
  }
  
  #location {
    height: 1.5em;
    background: url('../img/location.svg') no-repeat left;
    background-size: contain;
    padding-left: 30px;
    color: var(--logoGreen);
  }
  #email {
    background: url('../img/email.svg') no-repeat left;
    background-size: contain;
    padding-left: 32px;
    margin-left: 2em;
    color: var(--logoGreen);
  }

  /**********************************
  MQ
  ***********************************/
  @media only screen and (max-width: 1000px){
    section p {
      margin-top: 20%;
      font-size: 1rem;
      max-width: 70vw;
    }
  } 

  @media only screen and (max-width: 700px) {
    p{
      font-size: 0.8rem;
    }
    section p {
      font-size: 0.9rem;
      max-width: 80vw;
    }
    #email {
      margin-left: 1em;
    }
  }

  @media only screen and (max-width: 600px) {
    footer{
      width: 90vw;
      margin-left: 3%;
    }
    footer p {
      font-size: 0.7rem;
    }
    #location, #email {
      padding-left: 20px;
    }
    nav ul li {
      font-size: 1rem;
    }
    #logo {
      height: 35px;
      width: auto;
      margin: 2% 0 0 4%;
    }
    nav ul {
      margin-top: 3%;
    }
    nav ul li {
      font-size: 1.2rem;
    }
  }

  @media only screen and (max-width: 500px) {
    section p {
      margin-top: 30%;
      max-width: 90vw;
    }
    footer {
      flex-wrap: wrap;
    }
    #location, #email {
      margin: 0 auto 1%;
    }
  }


  @media only screen and (max-width: 425px) {
    nav ul{
      margin-top: 4%;
      margin-right: 8%;
    }
    nav ul li {
      width: 65px;
      font-size: 16px;
    }
    footer {
      bottom: 1%;
    }
    footer p {
      font-size: 0.6rem;
    }
    section p {
      margin-top: 40%;
      font-size: 0.8rem;
    }
  }

  @media only screen and (max-width: 332px)  {
    footer p {
      font-size: 0.4rem;
    }
  }
