 :root {
 	--lightGreen: #E2F8F7;
 	--logoGreen: #48c1bc;
 	--offWhite: #fdfdfd;
 	--lightGrey: #949494;
 	--darkGrey: #404040;
 }
 html {
 	box-sizing: border-box;
 }

 body {
  background: linear-gradient(10deg, #2980b9, #2c3e50, #141E30, #243B55);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 25s ease infinite;
  -moz-animation: AnimationName 25s ease infinite;
  animation: AnimationName 25s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
  }
  @keyframes AnimationName { 
    0%{background-position:74% 0%}
    50%{background-position:27% 100%}
    100%{background-position:74% 0%}
  }
  font-family: "Microsoft YaHei", "helvetica", sans-serif;
  color: var(--offWhite);
}

  /**********************************
  NAVIGATION
  ***********************************/
  a, a:hover, a:link {
  	text-decoration: none;
  	color: var(--logoGreen);
  }

  a:hover {
  	color: var(--lightGreen);
  }

  #logo {
  	margin: 1% 0 0 4%;
  }

  nav ul {
  	float: right;
  	margin: 1.5% 4% 0 0;
  	list-style: none;
  	padding:  0;
  }

  nav ul li{
  	display: inline-block;
  	font-size: 22px;
  	width: 90px;
  }

  nav li a {
  	padding-left: 1%;
  	font-weight: bold;
  }

  .selected {
  	border-bottom: 3px solid var(--logoGreen);
  }


  /**********************************
  BODY
  ***********************************/
  #img1 {
    background: url('../img/hr.jpg') no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
  }
  #img2 {
    background: url('../img/bc.jpg') no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
  }
  h1 {
    text-align: center;
    color: var(--offWhite);
    font-size: 2.5rem;
    padding-top: 22%;
    padding-bottom: 3%;
  }
  p {
    max-width: 80vw;
    margin: 4% auto 0;
    padding-bottom: 3%;
    font-size: 1rem;
    line-height: 2;
    text-align: center;
  }

   /**********************************
  MQ
  ***********************************/
  @media only screen and (max-width: 900px) {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 0.9rem;
      max-width: 85vw;
    }
  }
  @media only screen and (max-width: 700px) {
    h1 {
      font-size: 1.8rem;
    }
    p {
      max-width: 95vw;
    }
  }
  @media only screen and (max-width: 600px) {
    #logo {
      height: 35px;
      width: auto;
      margin: 2% 0 0 4%;
    }
    nav ul {
      margin-top: 3%;
    }
    nav ul li {
      font-size: 1.2rem;
    }
  }
  @media only screen and (max-width: 425px) {
    nav ul{
      margin-top: 4%;
      margin-right: 8%;
    }
    nav ul li {
      width: 65px;
      font-size: 16px;
    }
    p {
      font-size: 0.8rem;
    }
    h1 {
      font-size: 1.5rem;
    }
  }