<!DOCTYPE html>
<html>
<head>
	<!-- site info -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
	<title>I-Future 数景未来科技有限公司</title>
	<meta name="description" content="
	数景未来拥有国际先进的技术和一流的管理及运营团队，行业经验丰富，
	拥有超过 10 年的 大数据经验和数年的人工智能、区块链等技术储备。
	公司把战略发展重点主要致力于中国市场大数据人才培训、
	大数据应用及区块链应用产品化/定制化，以及项目咨询和实施。"/>
	<meta name="keywords" content="technlogy, i-future, 数景未来, big data, blockchain, company, startup, Canada">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">

	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
	<header>
		<nav>
			<img id="logo" src="{{ url_for('static', filename='img/logo.png') }}" width=auto height="50" alt="I-Future Logo"/>
			<ul>
				<li><a href="{{ url_for('product')}}">产品</a></li>
				<li><a href="{{ url_for('about_us')}}">关于我们</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<h1>人力资源大数据</h1>

		<h2>SaaS 智能人力资源大数据平台，海量数据、精准匹配、自助高效、实时更新、海外精准人才画像。</h2>
		</section>


	</body>
	</html>
